<ng-container>
  <form class="form" [formGroup]="controller">
    <input class="input" placeholder="columnas" formControlName="colums" type="text" />
    <input class="input" placeholder="filas" formControlName="rows" type="text" />
    <button type="submit" class="submit" (click)="submit()">Comenzar</button>
  </form>
  <ng-container *ngIf="enable">
    <app-game
    [colums]="+controller.get('colums')?.value"
    [rows]="+controller.get('rows')?.value"
    (gameOver)="gameOver()"
    ></app-game>
  </ng-container>
</ng-container>
